<div style="margin-left:10%; margin-right: 10%; width: auto;">
  <h1 style="font-size: 1.6rem; text-align: center; margin-top:50px;">
  Welcome to Audi Cars App - Backend site (on Render)
  </h1>
  <h3 style="font-size: 1.4rem; text-align: center;">E n d p o i n t s</h3>
  <ul style="margin-left: 140px;">
    <li style="font-size: 1.3rem">users List: 
      <a href="https://audi-cars-backend.onrender.com/api/v1/users">User List</a>
    </li>
    <br />
    <li style="font-size: 1.1rem">Create new User: 
      Use Postman with POST and URL https://audi-cars-backend.onrender.com/api/v1/users
    </li>
    <br />
    <li style="font-size: 1.1rem">Update existent User: 
      Use Postman with POST (all columns) or PATCH (not all columns) and URL http://audi-cars-backend.onrender.com/api/v1/users/id
    </li>
    <br />
    <li style="font-size: 1.1rem">Delete existent User: 
      Use Postman with DELETE and URL http://audi-cars-backend.onrender.com/api/v1/users/id
    </li>
    <br /><br />
    <span style="font-size: 1.1rem">CRUD of Cars (for a specific user)</span><br />
    <li style="font-size: 1.1rem">List of Cars:</li>
    <li style="font-size: 1.1rem">Create new Car:</li>
    <li style="font-size: 1.1rem">Update existent Car:</li>
    <li style="font-size: 1.1rem">Delete existent Car:</li>
  </ul>
</div>
<%# <h1>Welcome to Audi Website!</h1> %>
